﻿@{
    ViewBag.Title = "Cut World Release";
}

<h1>Cut World Release</h1>

<br />
If this is a partial release, you probably won't even have time to read this.  If it's a full release, it will take a few seconds or more.


@using (Html.BeginForm("Cut", "WorldRelease", FormMethod.Post, htmlAttributes: new { @name = "cut" }))
{
    @Html.Hidden("type", Request.QueryString["type"])
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Description</div>
            <div class="col-md-10"><input name="desc" type="text" required /></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*@section scripts {
    <script language="javascript">
        window.onload = function() {
            document.forms['cut'].submit();
        }
    </script>
}*@

