﻿@using DerethForever.Web.Controllers;
@using Lifestoned.DataModel.Gdle.Recipes;
@using Lifestoned.DataModel.Shared;
@model Recipe

@{
    ViewBag.Title = "Delete " + Model.Description;
}

<br />

<h4>Confirm deletion of @(Html.Raw(Model.Description)), @(Html.Raw(Model.Key))?</h4>

<br />

@using (Html.BeginForm("Delete", "Recipe", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Key)

    <button class="btn btn-danger" id="btnDelete">Delete</button>
    <button class="btn btn-warning" id="btnCancel">Cancel</button>
}

@section scripts {
    <script language="javascript">
        $("#btnDelete").on("click", function () {
            $("form").submit();
        });

        $("#btnCancel").on("click", function () {
            location.href = '@(Url.Action("Index"))';
        });
    </script>
}
