﻿@model Lifestoned.DataModel.Shared.ChangeDiscussionEntry

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Raw(Html.Encode(Model.UserName + " on " + Model.Created.ToString("g")))
    </div>
    <div class="panel-body text-prewrap">@Html.Raw(Html.Encode(Model.Comment))</div>
</div>

