    @if (User.Identity.IsAuthenticated)
    {
<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "Sandbox")" title="Sandbox"><i class="glyphicon glyphicon-inbox"></i></a></li>
    <li class="dropdown">
        <a href="@Url.Action("Index", "Account")" title="User Profile" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(User.Identity.Name + " Profile", "Index", "Account")</li>

            <li role="separator" class="divider"></li>
            
            <li>@Html.ActionLink("Sandbox", "Index", "Sandbox")</li>
            <li>@Html.ActionLink("Submissions", "Submissions", "Sandbox")</li>
            
            <li role="separator" class="divider"></li>

            @*<li>@Html.Partial("ServerSelector")</li>*@
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Server Admin", "Index", "Server")</li>
                <li>@Html.ActionLink("Accounts", "Accounts", "Account")</li>

                <li role="separator" class="divider"></li>
            }
            <li>@Html.ActionLink("Log off", "LogOff", "Account")</li>
        </ul>
    </li>
</ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
