﻿@using Lifestoned.DataModel.Shared

<script language="javascript">

    $(document).ready(function () {

        $('.type-filter').selectize({});
        $('.customMultiselect').selectize({ maxItems: null, allowEmptyOption: true });

        $('.flags-multi-checked').click(function (evt) {
            var $et = $(this);
            var $ev = $(this.dataset.target);
            var flag = $et.val();
            $ev.val(
                $et.prop('checked') ? $ev.val() | flag : $ev.val() & ~flag
            );
        });

		$('.expand-all').click(function (evt) {
			var expand = $(this).html() == 'Expand all';
			var table = $(this).parent().next('.panel-body');
			$(table).find('.collapse').collapse(expand ? 'show' : 'hide');
			$(this).html(expand ? 'Collapse all' : 'Expand all');
		});

        $('#preview').click(function (evt) {
            var link = $(this);
            var href = link.attr('href');

            var weenie = weenieStore.weenie;
            var sid = weenie.DidStats.find((v, i, a) => v.Key === 1);
            var cid = weenie.DidStats.find((v, i, a) => v.Key === 7);
            var pid = weenie.IntStats.find((v, i, a) => v.Key === 3);
            var shade = weenie.FloatStats.find((v, i, a) => v.Key === 12);

            if (cid && sid) {
                href = 'http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}&shade={{shade}}';
                href = href.replace("{{cid}}", cid.Value.toHexStr());
                if (pid) {
                    href = href.replace("{{pid}}", pid.Value);
                } else {
                    alert('INT 3 Not Found');
                    evt.preventDefault();
                    evt.stopPropagation();
                    return;
                }
                href = href.replace("{{shade}}", shade.Value);
            } else if (sid) {
                href = 'http://ac.yotesfan.com/02-Setup/?id={{sid}}'
            } else {
                alert('Requires DID 1 or DID 1, 7, and INT 3');
                evt.preventDefault();
                evt.stopPropagation();
                return;
            }

            href = href.replace("{{sid}}", sid.Value.toHexStr());

            link.attr('href', href);
        });
    });
</script>

