@{
    ViewBag.Title = "Spell Table";
}

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="app" class="form-horizontal">
        <lsd-spell-table-search ref="search"></lsd-spell-table-search>
        <lsd-spell-table ref="results"></lsd-spell-table>
    </div>
}


@section scripts {
    @Scripts.Render("~/ui/shared", "~/ui/spellTable")

    <script>
        Vue.use(AutoWatchMixin);
        Vue.use(SpellTableStore);
        var spellTableStore = makeSpellTableService();

        var app = new Vue({
            el: '#app',
            spellTableStore: spellTableStore
        });
    </script>
}
